body {
  padding: 0;
  margin: 0%;
  --pri-color: aqua;
}

a {
  text-decoration: none;
  color: white;
}

/* ------------navbar------------- */

.navbar {
  width: calc(100vw - 24px);
}
.container-fluid {
  padding: 0%;
}
.brand-name {
  width: 35%;
  margin-left: 3rem;
}
.nav-ele {
  font-size: 2rem;

  padding-right: 2.2rem;
  color: aqua;
}

.fas {
  font-size: 3rem;
  color: var(--pri-color);
  padding-right: 1.5rem;
}

/* ----------------------header------------------ */

.head-body {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  width: calc(100vw - 24px);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/head-bg.webp) center/cover fixed no-repeat;
}
.btn {
  display: flex;
  justify-content: center;
  gap: 15rem;
}

.heading {
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  color: white;
}

.btn1,
.btn2 {
  text-align: center;
  font-size: 2rem;
}

.regular-btn-container {
  text-align: center;
  margin-bottom: 16rem;
  padding: 5% 4%;
  outline: var(--pri-color) solid 0.4rem;
}

.regular-btn-container:hover {
  opacity: 0.7;
  outline: white solid 0.4rem;
}
.regular-btn-container:hover a {
  color: var(--pri-color);
}

.feature-container {
  text-align: center;
  padding: 5rem 0;
  display: flex;
  gap: 1.5rem;
}

.feature-container h2 {
  padding: 2rem 0;
  font-size: 3rem;
}

.feature-container p {
  font-size: 1.7rem;

  color: gray;
}

.feature-icon {
  font-size: 5rem;
}

.feature-box1:hover,
.feature-box2:hover,
.feature-box3:hover,
.feature-box4:hover {
  animation: zoom 2.5s infinite;
  background-color: rgb(119, 116, 116);
  color: white;
}

.feature-box1:hover p,
.feature-box2:hover p,
.feature-box3:hover p,
.feature-box4:hover p {
  color: aqua;
}

.servi-container {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/services-bg.webp) center/cover fixed no-repeat;
  text-align: center;
  width: calc(100vw - 24px);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.servi-container h2 {
  padding: 2rem 0.3rem;
  font-size: 3rem;
  color: white;
}
.servi-icon {
  font-size: 5rem;
  text-align: center;
}

.servi-box2,
.servi-box3 {
  position: relative;
  overflow: hidden;
  opacity: 0.75;
  background-color: rgb(90, 87, 87);
  padding: 5rem 0;
}

.servi-box1,
.servi-box4 {
  position: relative;
  overflow: hidden;
  opacity: 0.7;
  background-color: rgb(236, 231, 231);
  padding: 5rem 0;
}

.front-text {
  margin: 5rem 0;
}
.text {
  position: absolute;

  margin: 0 auto;
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: bold;
  bottom: -35rem;
  height: 100%;
  width: 100%;
  transition: bottom 2s;
}

.servi-box2 .text,
.servi-box3 .text {
  /* position: relative;
  overflow: hidden; */
  color: white;
}

.servi-box1 h2,
.servi-box4 h2 {
  color: black;
}

.servi-box1,
.servi-box3 {
  min-height: 25%;
  margin-left: 25%;
}

.front-text {
  transition: 2s;
}

.servi-box2,
.servi-box4 {
  margin-right: 25%;
}

.servi-box1:hover .text,
.servi-box2:hover .text,
.servi-box3:hover .text,
.servi-box4:hover .text {
  bottom: 0rem;
}

.servi-box1:hover .front-text,
.servi-box2:hover .front-text,
.servi-box3:hover .front-text,
.servi-box4:hover .front-text {
  transform: translateY(-400px);
}

/* /* --------------projects------------------  */
.projects {
  /* max-width: 100vh; */
  text-align: center;
  background-color: grey;
}

.projects h1 {
  padding: 5rem 0;
  font-size: 5rem;
  text-decoration: underline 0.7rem var(--pri-color);
  color: white;
  font-weight: bold;
}
.projects h2 {
  padding: 1rem 0;
  font-size: 4rem;
}

.projects p {
  font-size: 1.8rem;
}
.project-container img {
  height: 100%;
  width: 100%;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  margin: 2rem 0;
}
.pro-box1,
.pro-box2,
.pro-box3 {
  outline: var(--pri-color) solid 0.3rem;
  overflow: hidden;
  background-color: var(--pri-color);
  position: relative;
}

.prodata {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  opacity: 0;
  color: white;
}

.pro-box1:hover img,
.pro-box2:hover img,
.pro-box3:hover img {
  animation: zoom 2s 1;
  opacity: 0.7;
}

.pro-box1:hover .prodata,
.pro-box2:hover .prodata,
.pro-box3:hover .prodata {
  opacity: 1;
}
/* ----------------media-------------- */

@media screen and (max-width: 1370px) {
  .feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .feature-container h2 {
    font-size: 2.6rem;
  }

  .feature-container p {
    font-size: 1.5rem;
  }

  .servi-box2,
  .servi-box1,
  .servi-box3,
  .servi-box4 {
    margin: 0%;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr;

    margin: 0 15%;
    row-gap: 3rem;
  }
}

@media screen and (max-width: 786px) {
  .feature-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .servi-container {
    grid-template-columns: 1fr;
  }

  .servi-box1,
  .servi-box3 {
    margin-left: 25%;
  }

  .servi-box2,
  .servi-box4 {
    margin-right: 25%;
  }
  .servi-box2,
  .servi-box4 {
    opacity: 0.75;
    background-color: rgb(90, 87, 87);
    padding: 5rem 0;
  }

  .servi-box1,
  .servi-box3 {
    opacity: 0.7;
    background-color: rgb(236, 231, 231);
    padding: 5rem 0;
  }

  .servi-box4 h2,
  .servi-box4 .text {
    color: white;
  }

  .servi-box3 h2,
  .servi-box3 .text {
    color: black;
  }
}

/* ------------animations--------- */

@keyframes zoom {
  50% {
    transform: scale(1.2);
  }
}
